<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/all.min.css" />
  <link rel="stylesheet" href="assets/css/animate.css" />
  <link rel="stylesheet" href="assets/css/flaticon.css" />
  <link rel="stylesheet" href="assets/css/lightcase.css" />
  <link rel="stylesheet" href="assets/css/swiper.min.css" />
  <link rel="stylesheet" href="assets/css/nice-select.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
  <title>SMMBID - Bulk SMS</title>
</head>

<body>

  <!-- ==========scrolltotop========== -->
  <a href="#0" class="scrollToTop">
    <img src="assets/images/rocket.png" alt="rocket" />
  </a>
  <!-- ==========scrolltotop========== -->

  <!-- ==========Header Section========== -->
  <header>
    <div class="header-top d-none d-md-block bg-theme">
      <div class="container">
        <div class="header-top-wrapper">
          <div class="row">
            <div class="col-md-8">
              <ul>
                <li class="mr-3">
                  <a href="Tel:2349058450749"><i class="fas fa-phone-square"></i>+234-905-845-0749</a>
                </li>
                <li>
                  <a href="Mailto:support@smsbid.com"><i class="fas fa-envelope"></i>support@smsbid.com</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-end">
              <ul class="social">
                <li>
                  <a href="#0">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
              <div class="select-area d-none d-md-block">
                <select class="select-bar">
                  <option value="01">English</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="header-area">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo/logo01.png" alt="logo" /></a>
          </div>
          <ul class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#0">company</a>
              <ul class="submenu">
                <li>
                  <a href="/about">About Us</a>
                </li>
                <li>
                  <a href="faq">Faq</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#0">service</a>
              <ul class="submenu">
                <li>
                  <a href="/smmpanel">SMM Panel Services</a>
                </li>
                <li>
                  <a href="/smsverification">SMS Verification</a>
                </li>
                <li>
                  <a href="/marketplace">Social Media Accounts</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#0">account</a>
              <ul class="submenu">
                <li>
                  <a href="/login">Sign In</a>
                </li>
                <li>
                  <a href="/register">Sign Up</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/contact">contact</a>
            </li>
          </ul>
          <div class="header-bar d-lg-none">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="select-bar-bar">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ==========Header Section========== -->

  <!-- =============Hero Area============= -->
  <section class="hero-area bg_img" data-background="assets/images/page-header.jpg">
    <div class="container">
      <h1 class="title m-0">about company</h1>
    </div>
  </section>
  <div class="breadcrumb-section">
    <div class="container">
      <ul class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>About</li>
      </ul>
    </div>
  </div>
  <!-- =============Hero Area============= -->

  <!--=================Bulk Sms================= -->
  <section class="bulk-sms padding-top padding-bottom">
    <div class="container">
      <div class="row flex-wrap-reverse align-items-center">
        <div class="col-lg-6">
          <div class="bulk-content text-center text-sm-left">
            <span>welcome to SMMBID</span>
            <h3 class="title">
              Your One-Stop Solution for Social Media Marketing, VoIP Numbers, SMS Verification, and Social Account
              Marketplace
            </h3>
            <p>
              At SMMBID, we are committed to providing cutting-edge solutions for businesses
              and individuals in the digital age. Our platform offers three essential services to meet your
              needs: <b>SMM panel services,</b> <b>VoIP phone number verification,</b> and
              <b>social media account trading.</b>
              Whether you're looking to grow your social media accounts, manage communications with virtual
              numbers, verify online accounts,
              or buy and sell social media accounts securely—you're in the right place.
            </p>
            <a href="/register" class="custom-button active">sign-up & start</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bulk-thumb">
            <img src="assets/images/bulk/offer03.png" alt="bulk" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Bulk Sms================= -->

  <!--=================Smat================= -->
  <section class="sms-testing padding-bottom padding-top bg-ash">
    <div class="container">
      <div class="section-header">
        <span class="cate">Social Media Account Trading</span>
        <h3 class="title">Making it easy to Buy and Sell Social Media Accounts with Confidence.</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testing-item">
            <h4 class="title">about SMAT</h4>
            <p>
              Our marketplace facilitates the buying and selling of social media accounts,
              providing a secure and efficient platform for transactions.
              Whether you’re looking to acquire established accounts or sell your own,
              we offer a streamlined process to ensure your transactions are safe and satisfactory.
            </p>
            <ul class="bullet-list">
              <li><b>Marketplace Listings:</b> List your social media accounts for sale with
                detailed descriptions and pricing.</li>
              <li><b>Account Verification:</b> Ensure the authenticity of accounts with our
                thorough verification process.</li>
              <li><b>Secure Transactions:</b> Benefit from our escrow service to protect
                both buyers and sellers during transactions.</li>
              <li><b>Dispute Resolution:</b> Access our support for resolving any issues that may arise during
                transactions.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Smat================= -->

  <!--=================Smm Testing================= -->
  <section class="sms-testing padding-bottom padding-top bg-white">
    <div class="container">
      <div class="section-header">
        <span class="cate">SMM Panel Services</span>
        <h3 class="title">Whether you’re a small business or an influencer,
          our SMM services help you build the social proof you need to thrive online.</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testing-item">
            <h4 class="title">about SMM Panel</h4>
            <p>
              Grow your social media presence effortlessly with our powerful SMM panel. We offer affordable packages
              designed to
              help you boost your engagement on Instagram, Facebook, TikTok, YouTube, and more.
            </p>
            <ul class="bullet-list">
              <li><b>Instant Delivery:</b> Experience fast and reliable service for likes,
                followers, views, comments, and more.</li>
              <li><b>Targeted Audience:</b> Choose country-specific engagement for more
                precise targeting and real growth.</li>
              <li><b>Reseller-Friendly:</b> Start your own SMM business by reselling
                our services with customizable pricing.</li>
              <li><b>24/7 Support:</b> Get dedicated support anytime to help you grow your social accounts.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Smm================= -->

  <!--=================Sms================= -->
  <section class="sms-testing padding-bottom padding-top bg-ash">
    <div class="container">
      <div class="section-header">
        <span class="cate">VoIP Phone Numbers</span>
        <h3 class="title">Stay connected with the world using our VoIP numbers for personal and business communication.
        </h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testing-item">
            <h4 class="title">about SMs</h4>
            <p>
              Perfect for businesses needing customer service numbers or
              individuals wanting private, disposable numbers for online services.
            </p>
            <ul class="bullet-list">
              <li><b>Global Coverage:</b> Access virtual phone numbers from over 100 countries.</li>
              <li><b>Low-Cost Calls:</b> Save money with affordable international calling rates.</li>
              <li><b>Call Forwarding & SMS Support:</b> Manage your calls and texts seamlessly from anywhere in the
                world.</li>
              <li><b>Privacy First:</b>Use temporary or long-term VoIP numbers to protect your personal information.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Sms================= -->

  <!--=================Our Service================= -->
  <section class="service-section padding-bottom padding-top">
    <div class="container">
      <div class="section-header">
        <span class="cate">Use our service anytime, anywhere</span>
        <h3 class="title">Need an SMS verification on the go?.</h3>
        <p>We offer you the best solution to use our service anywhere, anytime</p>
      </div>
      <div class="row justify-content-center mb-30-none">
        <div class="col-md-6 col-lg-4">
          <div class="service-item text-center">
            <div class="service-content">
              <h4 class="title">Receive SMS verifications instantly</h4>
              <p>
                With our extremely fast servers, we make sure to relay your text message to you as soon as possible.
                This means that it takes less than 10 seconds to receive your text messages using our phone number.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item text-center">
            <div class="service-content">
              <h4 class="title">Non-VoIP phone number</h4>
              <p>
                Do you need a longer-term solution for your temporary phone number for verification?
                We also offer you REAL non-VoIP phone numbers which can be rented for as long as you want!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item text-center">
            <div class="service-content">
              <h4 class="title">99.9% uptime</h4>
              <p>
                You’ll be able to receive SMS verifications using our temporary phone numbers with 24/7 availability,
                with us you can get an online SMS verification at any time! View our status page to see the latest
                up-time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Our Service================= -->

  <!--=================Our Offer================= -->
  <section class="offer-section bg-ash padding-top padding-bottom">
    <div class="container">
      <div class="section-header">
        <span class="cate">why us for </span>
        <h3 class="title">Why Choose SMMBID</h3>
      </div>
    </div>
    <div class="container mw-lg-100">
      <div class="row align-items-center flex-wrap-reverse">
        <div class="col-lg-6">
          <div class="left-side-offer">
            <h4 class="title">get our best service offer for your better business</h4>
            <p>
              Here at SMMBid, we strive for customer service as well as top quality performance.
              You are 100% protected by using our cheapest and fastest SMM & SMS Services online.
            </p>
            <ul>
              <li>All-in-One Solution: From social media growth to virtual communication tools and account
                transactions, everything you need is in one place.</li>
              <li>
                Global Reach: Whether you need SMM services, a VoIP number, or a social media account from anywhere in
                the world, we’ve got you covered.
              </li>
              <li>
                Secure & Trustworthy: Your transactions and data are protected with industry-leading security measures,
                including SSL encryption and two-factor authentication (2FA).
              </li>
              <li>
                Affordable Pricing: We offer competitive prices across all services, ensuring you get the best value for
                your investment.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-side-offer">
            <img src="assets/images/offer/offer02.png" alt="offer" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================Our Offer================= -->

  <!--=================Footer Section================= -->
  <footer>
    <div class="footer-top padding-top padding-bottom">
      <div class="container">
        <div class="row mb-50-none">
          <div class="col-sm-6 col-lg-3">
            <div class="footer-widget footer-link">
              <h5 class="title">bulk SMS</h5>
              <ul>
                <li>
                  <a href="#0">masking SMS</a>
                </li>
                <li>
                  <a href="#0">Non-Masking SMS</a>
                </li>
                <li>
                  <a href="#0">location based SMS</a>
                </li>
                <li>
                  <a href="#0">Voice message</a>
                </li>
                <li>
                  <a href="#0">promo SMS</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-widget footer-link">
              <h5 class="title">company</h5>
              <ul>
                <li>
                  <a href="#0">about</a>
                </li>
                <li>
                  <a href="#0">pricing plan</a>
                </li>
                <li>
                  <a href="#0">faq</a>
                </li>
                <li>
                  <a href="#0">testiminial</a>
                </li>
                <li>
                  <a href="#0">promotion</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-widget footer-link">
              <h5 class="title">Partners</h5>
              <ul>
                <li>
                  <a href="#0">kingstar</a>
                </li>
                <li>
                  <a href="#0">laravala click</a>
                </li>
                <li>
                  <a href="#0">yago</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-widget footer-about">
              <h5 class="title">about us</h5>
              <p>
                Tellus fermentum a aenean laoreet libero in, at convallis
                varius morbi.
              </p>
              <ul class="footer-social">
                <li>
                  <a href="#0"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-3 py-sm-4 text-center">
      <div class="container">
        <p class="m-0"> <a href="">Made By Big Blinks</a></p>
      </div>
    </div>
  </footer>
  <!--=================Footer Section================= -->

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/modernizr-3.6.0.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/waypoint.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/lightcase.js"></script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/countdown.min.js"></script>
  <script src="assets/js/counterup.min.js"></script>
  <script src="assets/js/nice-select.js"></script>
  <script src="assets/js/main.js"></script>
</body>

<!-- about.html   03:24:41 GMT -->

</html>