<!DOCTYPE html>
<html lang="en">


<!-- contact.html   03:28:55 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <title>SMMBid - Bulk SMS</title>


</head>

<body>
    <!-- ==========scrolltotop========== -->
    <a href="#0" class="scrollToTop">
        <img src="assets/images/rocket.png" alt="rocket">
    </a>
    <!-- ==========scrolltotop========== -->

    <!-- ==========Header Section========== -->
    <header>
        <div class="header-top d-none d-md-block bg-theme">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li class="mr-3">
                                    <a href="Tel:2349058450749"><i class="fas fa-phone-square"></i>+234-905-845-0749</a>
                                </li>
                                <li>
                                    <a href="Mailto:support@smsbid.com"><i
                                            class="fas fa-envelope"></i>support@smsbid.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-end">
                            <ul class="social">
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="select-area d-none d-md-block">
                                <select class="select-bar">
                                    <option value="01">English</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-area">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo01.png" alt="logo" /></a>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#0">company</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>
                                    <a href="faq">Faq</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#0">service</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/smmpanel">SMM Panel Services</a>
                                </li>
                                <li>
                                    <a href="/smsverification">SMS Verification</a>
                                </li>
                                <li>
                                    <a href="/marketplace">Social Media Accounts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#0">account</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/login">Sign In</a>
                                </li>
                                <li>
                                    <a href="/register">Sign Up</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact">contact</a>
                        </li>
                    </ul>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="select-bar-bar">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Header Section========== -->

    <!-- =============Hero Area============= -->
    <section class="hero-area bg_img" data-background="assets/images/page-header.jpg">
        <div class="container">
            <h1 class="title m-0">Write To Us</h1>
        </div>
    </section>
    <div class="breadcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    contact
                </li>
            </ul>
        </div>
    </div>
    <!-- =============Hero Area============= -->

    <!--=================Account Section================= -->
    <section class="account-section padding-top padding-bottom bg_img bg_bottom_center bg_contain"
        data-background="assets/images/contact/contact-bg.png">
        <div class="container">
            <div class="account-wrapper">
                <div class="account-area">
                    <h3 class="account-title">send us a message</h3>
                    <form class="contact-form" id="contact_form_submit">
                        <div class="form-group">
                            <input type="text" id="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group radio-group">
                            <p>Preferred of mode Communication</p>
                            <div class="radio-item">
                                <input type="radio" checked name="mode" id="mode01">
                                <label for="mode01">Email</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--=================Account Section================= -->
    
    <!--=================Contact Info Section================= -->
    <section class="office-info padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">
                    office contact info
                </h2>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="contact-item">
                        <div class="contact-thumb">
                            <!-- <img src="./assets/images/contact/destination.png" alt="contact"> -->
                            <i class="flaticon-route"></i>
                        </div>
                        <div class="contact-content">
                            <h4 class="title">office address</h4>
                            <ul>
                                <li>Nigeria, Anambra State</li>
                                <li>Awka</li>
                                <li>PO:420112</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="contact-item">
                        <div class="contact-thumb">
                            <!-- <img src="./assets/images/contact/call.png" alt="contact"> -->
                            <i class="flaticon-call-center"></i>
                        </div>
                        <div class="contact-content">
                            <h4 class="title">phone number</h4>
                            <ul>
                                <li><a >09058450749</a></li>
                                <li><a >024***658777</a></li>
                                <li><a >054784542540</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4">
                    <div class="contact-item">
                        <div class="contact-thumb">
                            <!-- <img src="./assets/images/contact/worldwide.png" alt="contact"> -->
                            <i class="flaticon-global"></i>
                        </div>
                        <div class="contact-content">
                            <h4 class="title">email address</h4>
                            <ul>
                                <li>
                                    <a href="Mailto:support@smmbid.com">support@smmbid.com</a>
                                </li>
                                <li>
                                    <a href="Mailto:info@smmbid.com">info@smmbid.com</a>
                                </li>
                                <li>
                                    <a href="Mailto:ask@smmbid.com">ask@smmbid.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================Contact Info Section================= -->



    <!--=================Footer Section================= -->
    <footer>
        <div class="footer-top padding-top padding-bottom">
            <div class="container">
                <div class="row mb-50-none">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">bulk SMS</h5>
                            <ul>
                                <li>
                                    <a href="#0">masking SMS</a>
                                </li>
                                <li>
                                    <a href="#0">Non-Masking SMS</a>
                                </li>
                                <li>
                                    <a href="#0">location based SMS</a>
                                </li>
                                <li>
                                    <a href="#0">Voice message</a>
                                </li>
                                <li>
                                    <a href="#0">promo SMS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">company</h5>
                            <ul>
                                <li>
                                    <a href="#0">about</a>
                                </li>
                                <li>
                                    <a href="#0">pricing plan</a>
                                </li>
                                <li>
                                    <a href="#0">faq</a>
                                </li>
                                <li>
                                    <a href="#0">testiminial</a>
                                </li>
                                <li>
                                    <a href="#0">promotion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">Partners</h5>
                            <ul>
                                <li>
                                    <a href="#0">kingstar</a>
                                </li>
                                <li>
                                    <a href="#0">laravala click</a>
                                </li>
                                <li>
                                    <a href="#0">yago</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-about">
                            <h5 class="title">about us</h5>
                            <p>Tellus fermentum a aenean laoreet libero in, at convallis varius morbi.</p>
                            <ul class="footer-social">
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-3 py-sm-4 text-center">
            <div class="container">
                <p class="m-0"> <a href="">Made By Big Blinks</a></p>
            </div>
        </div>
    </footer>
    <!--=================Footer Section================= -->

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/main.js"></script>
</body>


<!-- contact.html   03:29:00 GMT -->
</html>