<!DOCTYPE html>
<html lang="en">
  <!-- faq.html   03:25:50 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/lightcase.css" />
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link
      rel="shortcut icon"
      href="assets/images/favicon.png"
      type="image/x-icon"
    />

    <title>SMMBid - Bulk SMS</title>
  </head>

  <body>
    <!-- ==========scrolltotop========== -->
    <a href="#0" class="scrollToTop">
      <img src="assets/images/rocket.png" alt="rocket" />
    </a>
    <!-- ==========scrolltotop========== -->

    <!-- ==========Header Section========== -->
    <header>
      <div class="header-top d-none d-md-block bg-theme">
        <div class="container">
          <div class="header-top-wrapper">
            <div class="row">
              <div class="col-md-8">
                <ul>
                  <li class="mr-3">
                    <a href="Tel:2349058450749"
                      ><i class="fas fa-phone-square"></i>+234-905-845-0749</a
                    >
                  </li>
                  <li>
                    <a href="Mailto:support@smsbid.com"
                      ><i class="fas fa-envelope"></i>support@smsbid.com</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-md-4 d-flex flex-wrap align-items-center justify-content-end"
              >
                <ul class="social">
                  <li>
                    <a href="#0">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#0">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#0">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#0">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
                <div class="select-area d-none d-md-block">
                  <select class="select-bar">
                    <option value="01">English</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-area">
            <div class="logo">
              <a href="index.html"
                ><img src="assets/images/logo/logo01.png" alt="logo"
              /></a>
            </div>
            <ul class="menu">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="#0">company</a>
                <ul class="submenu">
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="faq">Faq</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#0">service</a>
                <ul class="submenu">
                  <li>
                    <a href="/smmpanel">SMM Panel Services</a>
                  </li>
                  <li>
                    <a href="/smsverification">SMS Verification</a>
                  </li>
                  <li>
                    <a href="/marketplace">Social Media Accounts</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#0">account</a>
                <ul class="submenu">
                  <li>
                    <a href="/login">Sign In</a>
                  </li>
                  <li>
                    <a href="/register">Sign Up</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/contact">contact</a>
              </li>
            </ul>
            <div class="header-bar d-lg-none">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="select-bar-bar">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ==========Header Section========== -->

    <!-- =============Hero Area============= -->
    <section
      class="hero-area bg_img"
      data-background="assets/images/page-header.jpg"
    >
      <div class="container">
        <h1 class="title m-0">faq</h1>
      </div>
    </section>
    <div class="breadcrumb-section">
      <div class="container">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>faq</li>
        </ul>
      </div>
    </div>
    <!-- =============Hero Area============= -->

    <!--=================Faq Section================= -->
    <section class="faq-section padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="faq-area">
              <h3 class="main-title" id="section1">SMM Panel question</h3>
              <div class="faq-wrapper" >
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">What is an SMM Panel, and how does it work?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      An SMM Panel (Social Media Marketing Panel) is a platform where users can purchase social media services like followers, likes, 
                      comments, and views for platforms like Instagram, Facebook, YouTube, TikTok, and more. You simply sign up, add funds, 
                      select the desired service, and your order will be processed instantly or within a short time frame.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">Are the followers and likes I purchase real?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      We offer a variety of services, including real and high-quality profiles, as well as more affordable options like bot followers or likes. 
                      Each service is clearly labeled so you can choose the type of engagement that best suits your needs.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Is it safe to use an SMM Panel for my social media accounts?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Yes, our services are designed to comply with the terms and conditions of most social media platforms. 
                      However, we always recommend using moderation when increasing your engagement to ensure the safety of your account.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">ISO certificate</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Platea tincidunt praesent mauris, facilisis vel sed ornare
                      nullam ultricies, proin luctus velit libero. At ligula
                      amet, sit velit est morbi, sit eros, tempus mus sit at ut
                      tortor ut. Morbi nulla ante mauris adipiscing erat leo,
                      quis at, aliquam non nec turpis proin. Ornare ante
                      maecenas a ut, scelerisqu
                    </p>
                  </div>
                </div>
              </div>
              <h3 class="main-title" id="section2">SMS Verification Question</h3>
              <div class="faq-wrapper" >
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      What are VoIP phone numbers, and how do they work?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      VoIP phone numbers are virtual phone numbers that use the internet for communication instead of traditional phone lines. You can use them to make calls, send texts, and verify online accounts.
                       They are a great solution for businesses or individuals who need international numbers or want to protect their privacy.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Can I use a VoIP number for account verification on social media or other platforms?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Yes, VoIP numbers are often used for SMS verification to activate social media accounts, email accounts, or other online services. 
                      However, some platforms may have restrictions,
                       so it's important to check if the service allows VoIP numbers for verification.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      What is SMS verification, and why would I need it?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      SMS verification involves using a phone number to receive a text message with a code that is required to verify an online account. 
                      Our platform offers disposable or long-term numbers that can be used for this purpose, 
                      helping you protect your privacy by not sharing your personal phone number online.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Why am I unable to receive an SMS verification?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      This could be for many reasons; it usually depends on the
                      service selected, but we suggest just trying another phone
                      number of ours. Ordering a phone number can be done for
                      free. You only pay for what you use.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Do you sell numbers twice for the same service?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      No, we never sell the number twice for the same service.
                      Nor do we rotate them after a time; we update our phone
                      numbers daily and there's a chance that the carrier
                      recycled the phone number after 6 months; which we have no
                      control over. In this case you're always free to open a
                      ticket to refund the phone number.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Why do I get charged more when a lower price is listed?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      The price shown to you is the lowest price across all
                      pools. If you want a specific price, head to Advanced
                      Options and select your pool. By changing your pool, the
                      price will change and show you the guaranteed price you
                      are buying.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">Why can I not see my latest orders?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Ensure that the order IDs are listed from high to low. The
                      higher the order is, the more recent it is. To change the
                      order on your purchases, press the # in the table, and it
                      will automatically show the latest orders.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Why can I not refund my order and only delete it?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      We automatically refund all your orders that can be
                      refunded; hence, it will only show delete when you remove
                      it from your dashboard.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      It is telling me I cannot resend. What do I do?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Numbers usually do not stay longer than 1-2 hours in our
                      system, and this only goes for one-time temporary SMS
                      verifications. Rentals will stay in our system till it
                      expires. Make sure to extend it every time before expiry.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">What are the services?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      You select the service you want to verify for; for
                      example, if you want to verify a Discord Account, you
                      select the service ‘Discord’.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">Can I reuse the numbers?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      After 20 minutes, the resend option will not work; if you
                      wish to keep your number longer, we recommend purchasing a
                      rental.s.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      How long does a phone number usually stay in your system?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      This depends on the supplier and the country listed; for
                      most suppliers, phone numbers stay up to 24 hours within
                      our system. For the US - Pool 7/Foxtrot numbers usually
                      last 3-5 days, although this is not guaranteed. We
                      recommend ordering a rental in case you need a phone
                      number for a longer period.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      When I buy a phone number, will someone else get access to
                      it?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      It's disposed of; within our system only. When a number is
                      inactive for a longer period, the carrier may recycle the
                      phone number which means someone else can get access to
                      it. To prevent this we would recommend ordering a
                      long-term phone number rental which remains active in our
                      system as long as you extend it.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">Which countries do you offer?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      We offer over 50 countries including the UK, USA,
                      Netherlands, Russia & more. You can view the current list
                      of our countries on our homepage.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">Do you use trackers/analytics?</h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      No, we do not use any trackers or analytics; for more
                      information, you can view our privacy statement.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      Do you offer temporary numbers and rental numbers?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Yes, we offer temporary numbers that are usually for
                      one-time use only but also offer the possibility to re-use
                      but we also offer rental numbers that start at $10/mo.
                    </p>
                  </div>
                </div>
              </div>
              <h3 class="main-title" id="section3">Social Media Market Place question</h3>
              <div class="faq-wrapper" >
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      How do I buy or sell a social media account on your platform?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      To buy or sell social media accounts, you need to register and verify your account. 
                      Sellers can list their accounts with details like follower count, engagement stats, and price. 
                      Buyers can browse listings, make offers, and complete transactions securely using our escrow service,
                       which ensures the account is transferred safely before funds are released.
                      <span
                        ><li>
                          <span style="font-weight: bold">Instant :</span> when
                          you buy instant acoounts the account login details are
                          delivered to you immediately after a successful
                          purchase, because the seller already given us the
                          login details and it has been verified by us.
                        </li>
                        <li>
                          <span style="font-weight: bold">Manual :</span> When
                          you purchase a manual account, you have to wait for
                          the seller to manually aprrove the purchase and
                          release the logins to the account you purchased, mind
                          you the seller can choose to reject the order and the
                          purchase amount will be refunded to your acoount
                          balance instantly and dont worry even though the
                          amount is deduted from your balance when the order has
                          been placed, the seller is not paid until the trade
                          has been confirmed by you.
                        </li></span
                      >
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      How does your escrow service work for social media account transactions?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      Our escrow service protects both buyers and sellers. When a buyer purchases an account, the payment is held in escrow. 
                      The seller approvals the account and release to login details to the buyer, and once the buyer logins and confirms 
                      they’ve received and login the account, 
                      the payment is released to the seller. This ensures a safe transaction for both parties
                      <span
                        ><li>
                          <span style="font-weight: bold">Instant :</span> when
                          you buy instant acoounts the account login details are
                          delivered to you immediately after a successful
                          purchase, because the seller already given us the
                          login details and it has been verified by us.
                        </li>
                        <li>
                          <span style="font-weight: bold">Manual :</span> When
                          you purchase a manual account, you have to wait for
                          the seller to manually aprrove the purchase and
                          release the logins to the account you purchased, mind
                          you the seller can choose to reject the order and the
                          purchase amount will be refunded to your acoount
                          balance instantly and dont worry even though the
                          amount is deduted from your balance when the order has
                          been placed, the seller is not paid until the trade
                          has been confirmed by you.
                        </li></span
                      >
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      How quickly will I receive my order after payment?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      When you purchase or order an account you should know that
                      we have two types off listed Acounts
                      <span
                        ><li>
                          <span style="font-weight: bold">Instant :</span> when
                          you buy instant acoounts the account login details are
                          delivered to you immediately after a successful
                          purchase, because the seller already given us the
                          login details and it has been verified by us.
                        </li>
                        <li>
                          <span style="font-weight: bold">Manual :</span> When
                          you purchase a manual account, you have to wait for
                          the seller to manually aprrove the purchase and
                          release the logins to the account you purchased, mind
                          you the seller can choose to reject the order and the
                          purchase amount will be refunded to your acoount
                          balance instantly and dont worry even though the
                          amount is deduted from your balance when the order has
                          been placed, the seller is not paid until the trade
                          has been confirmed by you.
                        </li></span
                      >
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <div class="faq-title">
                    <h6 class="title">
                      How will I receive my order after payment?
                    </h6>
                    <span class="right-icon"></span>
                  </div>
                  <div class="faq-content">
                    <p>
                      1) You will receive an email with the login details to
                      your register email address. <br />

                      2) And immediately after a successful purchase a personal
                      history page will be shown where All the details of the
                      order will be available.
                    </p>
                  </div>
                </div>
              
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    Purchased accounts will be only mine, no one else can use
                    them?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>
                    Yes, the purchase account will remain securely protected,
                    but it is advisable to change the login details of manual
                    accounts purchased e.g Email and Password.
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    How to use the accounts correctly so they would not be
                    blocked?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>
                    Recommendations for working with accounts can be found here:
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    I want to sell 1 account, is this possible?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>Yes,</p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    How long ago have accounts been registered?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>
                    The registration date is specified in the listed accounts
                    description.
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    How to safely phone verify social media accounts?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>
                   <li> <span  style="font-weight: bold;">PV solution 1:</span> 
                    The best and safest method to phone verify
                    social accounts are real sim numbers, you could either buy
                    them in your country or off Ebay, at rates between $0.2 – $1
                    / sim card. If the sim cards are from a foreign country, you
                    should make sure the sim has area coverage in your country
                    and it doesn’t charge extra tax for receiving SMS’s locally.
                    Advantages: Real numbers are considered to be the most
                    trusted by social networks, also by being the single owner
                    of the number it will ensure no further use for other
                    accounts, which could put the accounts at risk. Downsides:
                    It can get expensive and time consuming. </li>
                    <li> <span  style="font-weight: bold;">PV solution 2:</span> 
                    Using free SMS apps like Textnow, Textplus, Nextplus.
                    Advantages: No costs. Downsides: Valid numbers (working area
                    codes) are hard to find so it will take some time to
                    successfully PV accounts; Because these are virtual numbers,
                    sometimes IG can see them as suspicious. 
                </li>
                    <li> <span  style="font-weight: bold;">PV solution 3:</span> 
                    Using our online SMS verify services, but avoid Chinese and
                    Russian numbers. I can’t vouch for any mainstream providers
                    right now other than us. – Advantages: You can easily verify accounts from
                    a provided dashboard, or if you have plenty of accounts to
                    verify, you can automate the process with the site API.
                    Downsides: Numbers might be reused at some point, or they
                    can be flagged as spammy by social networks, thus, you might
                    get a re-PV or even instant bans after PV! So please treat
                    this method with caution when verifying accounts (verify
                    only 1-2 accs at first, and wait for a while to see if the
                    accounts are in good standing).</li>
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <h6 class="title">
                    Are you spamming from your accounts?
                  </h6>
                  <span class="right-icon"></span>
                </div>
                <div class="faq-content">
                  <p>
                    No, we don’t.
                  </p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <aside class="sidebar">
              <div class="widget widget-category">
                <div class="widget-header">
                  <h5 class="title">faq list</h5>
                </div>
                <ul>
                  <li><a href="#section1" style="offset: -500;">general</a></li>
                  <li><a href="#section2">technical</a></li>
                  <li><a href="#section3">licensing</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!--=================Faq Section================= -->

    <!--=================Footer Section================= -->
    <footer>
      <div class="footer-top padding-top padding-bottom">
        <div class="container">
          <div class="row mb-50-none">
            <div class="col-sm-6 col-lg-3">
              <div class="footer-widget footer-link">
                <h5 class="title">bulk SMS</h5>
                <ul>
                  <li>
                    <a href="#0">masking SMS</a>
                  </li>
                  <li>
                    <a href="#0">Non-Masking SMS</a>
                  </li>
                  <li>
                    <a href="#0">location based SMS</a>
                  </li>
                  <li>
                    <a href="#0">Voice message</a>
                  </li>
                  <li>
                    <a href="#0">promo SMS</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-widget footer-link">
                <h5 class="title">company</h5>
                <ul>
                  <li>
                    <a href="#0">about</a>
                  </li>
                  <li>
                    <a href="#0">pricing plan</a>
                  </li>
                  <li>
                    <a href="#0">faq</a>
                  </li>
                  <li>
                    <a href="#0">testiminial</a>
                  </li>
                  <li>
                    <a href="#0">promotion</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-widget footer-link">
                <h5 class="title">Partners</h5>
                <ul>
                  <li>
                    <a href="#0">kingstar</a>
                  </li>
                  <li>
                    <a href="#0">laravala click</a>
                  </li>
                  <li>
                    <a href="#0">yago</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-widget footer-about">
                <h5 class="title">about us</h5>
                <p>
                  Tellus fermentum a aenean laoreet libero in, at convallis
                  varius morbi.
                </p>
                <ul class="footer-social">
                  <li>
                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom py-3 py-sm-4 text-center">
        <div class="container">
            <p class="m-0"> <a href="">Made By Big Blinks</a></p>
        </div>
      </div>
    </footer>
    <!--=================Footer Section================= -->

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

  <!-- faq.html   03:25:50 GMT -->
</html>
