
.hero{
    background: url("./assets/images/bg-hero.svg");
    padding-top: 200px;
    background-position: top left !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  padding: 35px 0;
  z-index: 10;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.header .container {
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 125px;
  width: 100%;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__logo svg {
  display: block;
}

.hero .d-flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 55px;
}

.hero__info {
  max-width: 584px;
}