.page-wrapper {
    /* margin: 0 0 0 260px; */
    padding: 60px 0 0;
    position: relative;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  @media (max-width: 991px) {
    .page-wrapper {
      margin: 0;
      padding: 60px 0 0;
    }
  }
  .page-wrapper .content {
    padding: 25px;
  }
  @media (max-width: 991px) {
    .page-wrapper .content {
      padding: 15px;
    }
  }

  .page-wrapper .content {
    padding: 25px;
  }
  @media (max-width: 991px) {
    .page-wrapper .content {
      padding: 15px;
    }
  }

  .page-header {
    margin-bottom: 25px;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media (max-width: 575px) {
    .page-header {
      margin-bottom: 20px;
      flex-direction: column;
    }
    .page-header .page-title {
      text-align: center;
    }
    .page-header .page-btn {
      margin-top: 15px;
    }
  }
  .page-header h3 {
    font-weight: 700;
    color: #212b36;
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .page-header h3 {
      font-size: 14px;
    }
  }
  .page-header h4 {
    font-weight: 700;
    color: #212b36;
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .page-header h4 {
      font-size: 14px;
    }
  }
  .page-header h6 {
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .page-header h6 {
      font-size: 12px;
    }
  }

  .card {
    margin: 0 0 25px;
    border: 1px solid #e8ebed;
    border-radius: 6px;
  }
 
  .card .card-body {
    padding: 20px;
  }
  @media (max-width: 991px) {
    .card .card-body {
      padding: 15px;
    }
  }

  .form-group input[type="text"]:focus {
    border-color: #ff9f43;
    background: #fff;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .form-group label {
    margin-bottom: 8px;
    color: #212b36;
    font-weight: 500;
    font-size: 14px;
    display: block;
  }
  .form-group label .manitory {
    color: red;
  }
  .form-group .input-groupicon {
    position: relative;
  }
  .form-group .input-groupicon .addonset {
    position: absolute;
    right: 12px;
    top: 50%;
    line-height: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  @media (max-width: 991px) {
    .form-group .input-groupicon .addonset {
      display: none;
    }
  }
  .form-group input[type="text"],
  .form-group input[type="password"] {
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #637381;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .form-group textarea {
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 100px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .form-group .calc-no {
    width: 50px !important;
    text-align: center;
  }
  .table .form-group input[type="text"] {
    height: 40px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #ff9f43;
  }

  .avatar .avatar-title {
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  }


  .image-upload .image-uploads {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    position: absolute;
    top: 0;
  }
  .image-upload .image-uploads h4 {
    font-size: 14px;
    font-weight: 500;
    color: #212b36;
  }
  .uploadedimage .image-uploads {
    max-width: 100%;
  }
  .btn-submit {
    min-width: 120px;
    background: #ff9f43;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .btn-submit:hover {
    background: #fe820e;
    color: #fff;
  }
  @media (max-width: 991px) {
    .btn-submit {
      min-width: auto;
      padding: 5px 7px;
    }
  }
  .btn-cancel {
    min-width: 120px;
    background: #637381;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .btn-cancel:hover {
    background: #424b52;
    color: #fff;
  }
  @media (max-width: 991px) {
    .btn-cancel {
      min-width: auto;
      padding: 5px 7px;
    }
  }


  /* second */

  .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_filter{
    display: none;
}

.page-header .btn-added{
    display: flex;
    align-items: center;
}

table{
    margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
}

.search-set .btn-filter.setclose {
    background: #ea5455;
  }
  .search-set .btn-filter.setclose > img {
    display: none;
  }
  .search-set .btn-filter.setclose span {
    display: block;
  }
  .search-set .btn-filter.setclose span img {
    display: block;
  }

body[data-theme="dark"] .table thead {
    background: #141432;
    border-bottom: 1px solid #353570;
  }
  body[data-theme="dark"] .table thead tr:hover {
    background: 0 0;
  }
  body[data-theme="dark"] .table thead tr th {
    color: #fff;
  }
  body[data-theme="dark"] .table tbody tr:hover {
    background: 0 0;
  }
  body[data-theme="dark"] .table tbody tr td {
    color: #fff;
  }
  body[data-theme="dark"] .table tbody tr td a {
    color: #fff !important;
  }

  .table {
    margin: 0;
  }
  .table thead {
    background: #fafbfe;
    border-bottom: 1px solid #e9ecef;
  }
  .table thead th {
    font-weight: 600;
    color: #212b36;
    padding: 10px;
    white-space: nowrap;
  }
  .table tbody {
    border: 0 !important;
  }
  .table tbody tr:hover {
    background: #f5f5f5;
  }
  .table tbody tr td {
    padding: 10px;
    color: #637381;
    font-weight: 500;
    border-bottom: 1px solid #e9ecef;
    vertical-align: middle;
    white-space: nowrap;
  }
  .table tbody tr td .product-img img {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border: 0;
  }
  .table tbody tr td a {
    color: #212b36;
  }
  .table tbody tr td a:hover {
    color: #ff9f43;
  }
  .table tbody tr td .product-imgs {
    width: 40px;
    height: 40px;
    background: #ffebd8;
    font-size: 14px;
    color: #ff9f43 !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .table tbody tr.active {
    border-bottom: 0;
  }
  .table tbody tr.active td {
    font-size: 18px;
    color: #5e5873;
    font-weight: 600;
    border-bottom: 0;
  }
  .table-height {
    min-height: 300px;
  }
  @media (max-width: 991px) {
    .table-height {
      min-height: auto;
      margin-bottom: 15px;
    }
  }

  table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\f107";
  font-family: "font awesome 5 free";
  top: 14px;
  color: #babfc7;
  font-size: 12px;
  opacity: 1;
}
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
  right: 0.5em;
  content: "\f106";
  font-family: "font awesome 5 free";
  top: 5px;
  color: #babfc7;
  font-size: 12px;
  opacity: 1;
}

.checkboxs {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  .checkboxs input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkboxs input ~ .checkmarks {
    border: 1px solid #b9b9c3;
  }
  .checkboxs input:checked ~ .checkmarks {
    background-color: #ff9f43;
  }
  .checkboxs input:checked ~ .checkmarks:after {
    display: block;
  }
  .checkboxs .checkmarks {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .checkboxs .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkboxs .checkmarks:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

.card {
    margin: 0 0 25px;
    border: 1px solid #e8ebed;
    border-radius: 6px;
  }

  .card .card-body {
    padding: 20px;
  }
  @media (max-width: 991px) {
    .card .card-body {
      padding: 15px;
    }
  }

  .table-top {
    margin-bottom: 25px;
  }
  @media (max-width: 575px) {
    .table-top {
      flex-direction: column;
    }
    .table-top .wordset {
      margin-top: 25px;
    }
  }

  body[data-theme="dark"] .card {
    background: #1d1d42;
    border: 1px solid #353570;
  }


.table-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-set{
    display: flex;
    align-items: center;
}

.search-set .btn-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group .btn-filters{
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-group input[type="text"]:focus {
    border-color: #ff9f43;
    background: #fff;
  }

  .form-group {
    margin-bottom: 25px;
  }
  .form-group label {
    margin-bottom: 8px;
    color: #212b36;
    font-weight: 500;
    font-size: 14px;
    display: block;
  }
  .form-group label .manitory {
    color: red;
  }
  .form-group .input-groupicon {
    position: relative;
  }
  .form-group .input-groupicon .addonset {
    position: absolute;
    right: 12px;
    top: 50%;
    line-height: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  @media (max-width: 991px) {
    .form-group .input-groupicon .addonset {
      display: none;
    }
  }
  .form-group input[type="text"],
  .form-group input[type="password"] {
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #637381;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .form-group .btn-filters {
    background: #ff9f43;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .form-group .btn-filters:hover {
    background: #1b2850;
  }
  .form-group textarea {
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 100px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
  }

.wordset ul li {
    margin: 0 10px;
  }
  .wordset ul li a {
    display: block;
  }
  .wordset ul{
    align-items: center;
    display: flex;
    list-style: none;
  }

.page-header {
    margin-bottom: 25px;
  }
  @media (max-width: 575px) {
    .page-header {
      margin-bottom: 20px;
      flex-direction: column;
    }
    .page-header .page-title {
      text-align: center;
    }
    .page-header .page-btn {
      margin-top: 15px;
    }
  }
  .page-header h3 {
    font-weight: 700;
    color: #212b36;
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .page-header h3 {
      font-size: 14px;
    }
  }
  .page-header h4 {
    font-weight: 700;
    color: #212b36;
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .page-header h4 {
      font-size: 14px;
    }
  }
  .page-header h6 {
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .page-header h6 {
      font-size: 12px;
    }
  }
  .page-header .btn-filter {
    background: #ff9f43;
    width: 34px;
    height: 34px;
    padding: 0;
  }
  .page-header .btn-filter:hover {
    background: linear-gradient(46.62deg, #ff9f43 0%, #423b93 93.64%);
  }
  .page-header .btn-added {
    background: #ff9f43;
    padding: 7px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }
  .page-header .btn-added img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 991px) {
    .page-header .btn-added {
      padding: 3px 8px;
    }
  }
  .page-header .btn-added:hover {
    background: #1b2850;
  }
  .table-top {
    margin-bottom: 25px;
  }
  @media (max-width: 575px) {
    .table-top {
      flex-direction: column;
    }
    .table-top .wordset {
      margin-top: 25px;
    }
  }

  .search-set .btn-filter {
    background: #ff9f43;
    width: 34px;
    height: 34px;
    padding: 0;
    margin-right: 10px;
  }
  .search-set .btn-filter span {
    display: none;
  }
  .search-set .btn-filter:hover {
    background: #1b2850;
  }
  .search-set .btn-filter.setclose {
    background: #ea5455;
  }
  .search-set .btn-filter.setclose > img {
    display: none;
  }
  .search-set .btn-filter.setclose span {
    display: block;
  }
  .search-set .btn-filter.setclose span img {
    display: block;
  }
  .search-set .btn-filter span {
    display: none;
  }
  .search-set .btn-filter > img {
    display: block;
  }
  .search-set .search-input {
    position: relative;
  }
  .search-set .search-input input[type="search"] {
    background: 0 0;
    height: 40px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    width: 200px;
    border-radius: 5px;
    padding: 0 15px 0 30px;
    outline: none;
  }

  

  .search-set .search-input .btn-searchset {
    padding: 2px;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 6px;
  }